* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* background-image: linear-gradient(
		to top,
		#f3e7e9 0%,
		#e3eeff 99%,
		#e3eeff 100%
	); */
	background-color: #f0f2f5;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.responsiveImage {
	display: block;
	max-width: 100%;
	height: auto;
}
